<div id="profile">
    <h2>Welcome @<%= username %></h2>
  </div>
  
<p>
  <a href="/profile/<%= username %>/timeline">Check timeline</a>
</p>

<div id="container">
  <% if (tweets.length > 0) { %>
    <% tweets.forEach(function(tweet) { %>
      <div class="tweet-container">
        <p><%= tweet.tweet %></p>
        <p class="date"><%= moment(tweet.created_at).format("LL, LTS") %></p>
      </div>
    <% }) %>
  <% } else { %>
    <div class="tweet-container no-tweets">
      <p>@<%= username %> hasn't tweeted yet.</p>
    </div>
  <% } %>
</div>
<br>
<% if ( typeof(error) != "undefined") { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
  <br>
<p>
  <a href="/tweets/new">Create tweet</a>
</p>
<p>
  <a href="/logout">Logout</a>
</p>